[Unit]
Description=Lance le pipeline flashcard toutes les 5 minutes
Requires=flashcard-pipeline.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=flashcard-pipeline.service

[Install]
WantedBy=timers.target
